footer.footer.content-wrapper
  .footer__main
    a.footer__logo(href='index.html')
      img(src='./assets/img/logo.svg' alt='RubyHome logo')
    p.footer__text Contrary to popular  is not simply random text. It has 
    .footer__socials.footer-socials
      a.footer-socials__link.icon-font.icon-font_facebook(href='https://www.facebook.com/' target='_blank')
      a.footer-socials__link.icon-font.icon-font_instagram(href='https://www.instagram.com/' target='_blank')
      a.footer-socials__link.icon-font.icon-font_twitter(href='https://twitter.com/' target='_blank')
      a.footer-socials__link.icon-font.icon-font_youtube(href='https://www.youtube.com/' target='_blank')
      a.footer-socials__link.icon-font.icon-font_linkedin(href='https://www.linkedin.com/' target='_blank')  
  .footer__menu.footer-menu
    .footer-menu__column
      p.footer-menu__title About
      ul.footer-menu__list
        li
          a.footer-menu__link(href='#') Company
        li
          a.footer-menu__link(href='#') Team
        li
          a.footer-menu__link(href='#') Career
        li
          a.footer-menu__link(href='#') Blogs
    .footer-menu__column 
      p.footer-menu__title Products
      ul.footer-menu__list
        li
          a.footer-menu__link(href='#') E-Books
        li
          a.footer-menu__link(href='#') Preasantation
        li
          a.footer-menu__link(href='#') Management
        li
          a.footer-menu__link(href='#') Dashboard
    .footer-menu__column
      p.footer-menu__title Address
      ul.footer-menu__list
        li
          p.footer-menu__address Country Delevery
        li
          p.footer-menu__address Counter Beach Post
        li
          a.footer-menu__address_internet(href='#' target='_blank') www.itobd.com
        li
          a.footer-menu__address_phone(href='tel:+880176565655') +880176565655