header.header.content-wrapper
  .header__main
    a.header__logo(href='index.html')
      img(src='./assets/img/logo.svg' alt='RubyHome logo')
  .header__menu.header-menu
    nav.header-menu__body
      ul.header-menu__list
        li.header-menu__item
          a.header-menu__link_active(href='#') Home
        li.header-menu__item   
          a.header-menu__link(href='#') Properties
        li.header-menu__item 
          a.header-menu__link(href='#') About us
        li.header-menu__item 
          a.header-menu__link(href='#') Blog
        li.header-menu__item  
          a.header-menu__link.header-menu__link_button.button(href='#') Contact us
  button.icon-menu(type='button')
    span 
    span 
    span